<div class="c-sidebar c-sidebar-primary c-sidebar-fixed c-sidebar-md-show" id="sidebar">
	<div class="c-sidebar-brand d-lg-down-none">
		<img class="c-sidebar-brand-full" src="{{ full_url_for('home') }}/images/logo_large.png" width="156" height="39" alt="blogomo Logo"/>
		<img class="c-sidebar-brand-minimized" src=" {{ full_url_for('home') }}/images/logo.png" width="39" alt="blogomo Logo"/>
	</div>
	<ul class=" c-sidebar-nav">
		<li class="c-sidebar-nav-title">Manage</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="index.html">
				<i class="c-sidebar-nav-icon cil-speedometer"></i>
				Overview
			</a>
		</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="index.html">
				<i class="c-sidebar-nav-icon cil-info"></i>
				Reports
			</a>
		</li>
		<li class="c-sidebar-nav-title">Content</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="pages">
				<i class="c-sidebar-nav-icon cil-file"></i>
				Pages Manager</a>
		</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="posts">
				<i class="c-sidebar-nav-icon cil-notes"></i>

				Post Manager</a>
		</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="media">
				<i class="c-sidebar-nav-icon cil-object-group"></i>

				Media Manager</a>
		</li>
		<li class="c-sidebar-nav-title">Customize</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="themes">
				<i class="c-sidebar-nav-icon cil-color-palette"></i>
				Themes</a>
		</li>
		<li class="c-sidebar-nav-divider"></li>
		<li class="c-sidebar-nav-title">Settings</li>
		<li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
			<a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
				<i class="c-sidebar-nav-icon cil-settings"></i>


				Settings</a>
			<ul class="c-sidebar-nav-dropdown-items"></ul>
		</li>
	</ul>
	<button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>
